<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include("./partials/head"); %>
</head>
<body>
  <header>
  <%- include("./partials/header", {user: user}); %>
</header>
<main>
  <% messages.forEach((message) => { %>
  <div class="message-card">
    <h2><%=message.title%></h2>
    <% if(user && user.member)  { %>
      <p>by <%=message.author.name%></p>
      
    <%}
      %>
    <p><%=message.text %></p>
    <% if(user && user.admin)  { %>
      <button>Delete</button>
    <%} %>
  </div>
  <%}) %>
</main>
</body>
</html>