<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include("./partials/head"); %>
</head>
<body>
  <header>
  <%- include("./partials/header", {user: user}); %>
</header>
<main>
  <% messages.forEach((message) => { %>
  <div class="message-card">
    <div class="message-top">
    <h2><%=message.title%></h2>
    <% if(user && user.member)  { %>
      <p><%=message.timeAgo %></p>
    </div>
      <p>by <%=message.author.name%></p>
    <%}
      
      %>
      
    
    <p><%=message.text %></p>
    <% if(user && user.admin)  { %>
      <form class="delete-form" method="post" action=<%=message.deleteUrl %> >
      <button type="submit" class="delete-btn">Delete</button>
    </form>
    <%} %>
  </div>
  <%}) %>
</main>
</body>
</html>